<div class="clearfix"></div>
  <div id="cart-subnav">
     <div class="row">
        <div class="small-12 columns small-centered">
           <div class="vac">
              <div class="va">
                  <p>
                  <a href="/cart" {% if template == 'cart' %}class="active" aria-current="page" {% endif %}>Review Cart</a>    -   
                  <a href="/pages/shipping-returns"> Shipping &amp; Returns</a>    -   
                  <a href="/pages/contact-us"> Contact Us</a>    -   
                  <a href="/a/retailers"> Retailers</a></p>
              </div>
           </div>
        </div>
     </div>
  </div>  

<hr class="double">