{% assign has_header_mast = false %}

{% include 'html-user-nav' %}

<div id="blank_page" class="row"  >


<h1 id="page_title" class="large-12 columns">Create Account</h1>
      <div class="clearfix"></div>

  		<div class="loginBox large-4 columns ">	
	    {% form 'create_customer' %}
	      {{ form.errors | default_errors }}

	      <div class="clearfix large_form">
	        <label for="first_name" class="login">First Name</label>
	        <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
	      </div>

	      <div class="clearfix large_form">
	        <label for="last_name" class="login">Last Name</label>
	        <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
	      </div>

	      <div class="clearfix large_form">
	        <label for="email" class="login">Email Address</label>
	        <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
	      </div>

	      <div class="clearfix large_form">
	        <label for="password" class="login">Password</label>
	        <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
	      </div>

	      <div class="action_bottom">
	        <input class="btn_def" type="submit" value="Create" />
            <span class="note"><a href="/account/login">Return to Login</a></span><br>
	        <span class="note"><a href="{{ shop.url }}">Return to Store</a></span>
	      </div>
	    {% endform %}
  		</div>

</div>

<script>
$(document).ready(function(){
$('.errors ul').attr('role','alert');
})
</script>
