{% assign has_header_mast = false %}

{% include 'html-user-nav' %}


<div id="blank_page" class="row_no" >

	<h1 id="page_title" class="large-12 columns">{{ page.title }}</h1>
    {{ page.content }}
  
</div>