<!-- Masthead -->
<div id="masthead" class="social">  
  <div class="vac ">
     <div class="va">
       <h1><img src="{{ 'social-logo.png' | asset_url }}"></h1>
     </div>
  </div>
</div>
 {% comment %}
<div class="dcsns-toolbar tool">
  <div class="row">
    <div class="small-12 text-center columns">
      <ul id="dcsns-filter" class="option-set filter small-block-grid-1 medium-block-grid-5">
    
          <a onclick='$(".stream .dcsns-toolbar li:first-child a").trigger("click");' class="iso-active">
            SHOW ALL
          </a>
        </li>
      
        <li class="active">
          <a onclick='$(".f-rss a").trigger("click");' class="">
            PRESS
          </a>
        </li>
        <li class="active">
          <a onclick='$(".f-facebook a").trigger("click");' class="">
            FACEBOOK
          </a>
        </li>
        <li class="active">
          <a onclick='$(".f-twitter a").trigger("click");' class="">
            TWITTER
          </a>
        </li>
        <li class="active">
          <a onclick='$(".f-instagram a").trigger("click");' class="">
            INSTAGRAM
          </a>
        </li>
 
      
         
        </li>
      </ul>
    </div>
  </div>
</div>

<hr class="double">
  
<div class="row">
  <div class="small-12 text-center columns" id="loading" style="margin-top: 40px;">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
  <div class="small-12 columns text-center stream">
	<div id="social-stream"></div>
  </div>
</div>
 {% endcomment %}